body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .logonw{
    width: 55px;
    height: 55px;
    float: left;
    padding: 0.2rem;
    margin-left: 1rem;
    border-radius: 50%;
    background-color: white;
  }
  .topnav {
    overflow: hidden;
    background-color: #001F3F;
    padding: 0.4rem;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #001F3F;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .logo{
      width: 40px;
    height: 40px;
    float: left;
    padding: 0.1rem;
    border-radius: 50%;
    background-color: white;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }