body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
.logonw{
  width: 60px;
  height: 60px;
  float: left;
  padding: 0.1rem;
  margin-left: 1rem;
  border-radius: 50%;
  background-color: white;
}
.topnav {
  overflow: hidden;
  /* background-color: #001F3F; */
  background-color: transparent;
  width: 100%;
  padding: 0.4rem;
  
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 20px;
  margin-left: 13px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #001F3F;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .logo{
    width: 40px;
  height: 40px;
  float: left;
  padding: 0.1rem;
  border-radius: 50%;
  background-color: white;
  }
  .topnav.navresponsive {position: relative;}
  .topnav.navresponsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.navresponsive a {
    float: none;
    display: block;
    text-align: left;
  }
}