
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;   
}

.signup-section {
  background: #0a0d51;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.lSignUP{
  width: 80px;
  height: 80px;
  margin-left: 5px;
  margin-bottom: 20px;
  padding: 0.2rem;
  border-radius: 50%;
  background-color: white;
}

h2 {
  display: block;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.input-container {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.button-container {
  margin-top: 20px;
}

.buton1 {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buton1:hover {
  background-color: #0056b3;
}
